@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #22D3EE;
    --secondary-color: #0D1117;
    --extra-color: #374151;
    --off-white: #F3F4F6;
}

body {
    font-family: 'Fira Sans';
}

/* containers */

.container {
    padding: 0rem 1rem;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: var(--off-white);
    width: fit-content;
}
.center-container {
    padding: 0rem 1rem;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

/* links */
.primary-link {
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.3rem 0.7rem;
    background-color: var(--primary-color);
    text-decoration: none;
    color: #ffffff;
}
.secondary-link {
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    color: var(--primary-color);
}

.para-link {
    color: var(--primary-color);
    text-decoration: none;
}
.para-link-two {
    color: red;
    text-decoration: none;
}
.link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
/* list */
.list-non-bullet {
    list-style: none;
}
.list-item-inline {
    display: inline;;
}
/* navbar */
.normal-nav {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}
.nav-brand {
    font-weight: bold;
}
.tabs{
    text-align: right;
    word-spacing: 0.3rem;
}
.fixed-nav {
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    width: 95%;;
}
.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 95%;
}
/* header */
.header {
    width: 80%;
    margin: auto;
}
.hero-img {
    margin: auto;
}
.hero-heading{
    text-align: center;
    color: var(--primary-color);
}
.header-img {
    background-image: url("black-hero.jpg");
    width: 100%;
    margin: auto;
    padding: 10rem 0;

}
.header-btn {
    text-align: center;
}
/* footer */
.footer {
    text-align: center;
    background: var(--primary-color);
    padding: 1rem 0rem;
    border-radius: 0.5rem;
}
.footer-heading {
    font-size: 23px;
}
.footer ul {
    padding-inline-start: 0;
}
